<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>crossdomain</title>
</head>
<body>
    <script>
        [[code]]
    </script>
</body>
</html>
